@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #add8e6;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #333;
}

header h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px #ff6600;
}

.navBar {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffcc00;
    border: 2px solid #333;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.2em;
    transition: transform 0.3s, color 0.3s;
}

nav ul li:hover {
    transform: scale(1.1);
    color: #ff6600;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:visited {
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
    display: flex;
}

main article {
    background-color: #ffcc00;
    border: 5px solid #333;
    border-radius: 15px;
    margin: 20px auto 40px;
    padding: 30px;
    max-width: 800px;
    box-shadow: 5px 5px #333;
    text-align: left;
}

main article header h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

main article p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 15px;
    font-size: 1em;
    color: #b81f07;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 15px;
    font-size: 1em;
    color: #ff4800;
    line-height: 1.6;
}

strong {
    color: #a10000;
}

a {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    border: 2px solid #333;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    transition: transform 0.3s, background-color 0.3s;
}

a:hover {
    transform: scale(1.1);
    background-color: #ff6600;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #ffcc00;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #ff6600;
    position: relative;
}
